
<div class="row">
  <div class="col-lg-6">
<h2>Welcome to Character Portfolio!</h2>
<h5>Creates characters for the Commando Hacker and Witch roleplaying game</h5>

  <p>Commando, Hacker and Witch is a simple, lightweight role playing game that allows a group of players and a game master (GM) to   experience epic adventures in a retro-cyberpunk world of hackers, ninjas, mercenaries, and (for some reason)   magic.</p>

  <p>Although CH&W uses the three archetypal roles of classic role playing games in its title, it doesn’t   make use of classes. Players can freely create characters as they see fit without having to press them into   the tight corset of character classes. Commando, Hacker and Witch are actually the characters’ basic  attributes, which measure their capabilities in combat, stealth and academics respectively.</p>

  <p>This book assumes you are familiar with tabletop RPGs. If you have no idea how a tabletop role playing   game is supposed to work, ask your geek friends; they’ll probably know. </p>
  </div>
</div>
