<p>
  Are you sure you want to delete this Game?
</p>

<p>
  This action cannot be undone.
</p>

<%= link_to "No, take me back to my game.", game_path(@game) %>

<br>

<%= form_for(@game) do |f| %>

  <%= f.submit "Destroy this Game Forever"%>
<% end %>
