<h2>All Games</h2>
<p>
  Select a game below and join by creating a new character
</p>

<p>
  OR Become a Game Master and <%= link_to " Create a new game", new_game_path %>
</p>

<ul>
<% @games.each do |game| %>
  <li><%= link_to game.name, game_path(game) %> || <%= game.description %></li>
<% end %>
</ul>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h3>Number of characters per game</h3>
      <%= pie_chart @character_count %>
  </div>
</div>
