<h1><%= @game.name %></h1>

<h3><%= @game.description %></h3>

<h4>Characters in this game</h4>
<ul>
  <%= @game.characters.each do |character| %>
  <li><%= link_to character.name character_path(character)%></li>
  <% end %>
  <li>This worked</li>
</ul>
